<div class="d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-light" @onclick="ToggleMenuManager">Manager</button>
        <button type="button" class="btn btn-light" @onclick="ToggleMenuCashier">Cashier</button>
        <button type="button" class="btn btn-light" @onclick="ToggleMenuStaff">Staff</button>
    </div>
</div>

@if (showMain==1)
{
  <ManagerNavMenu />
}
else if(showMain==2)
{
    <StaffNavMenu />
}
else if(showMain==3)
{
    <CashierNavMenu />
}

@code {
    int showMain = 0;

  
    void ToggleMenuManager()
    {
        showMain = 1;
    }
    void ToggleMenuCashier()
    {
        showMain = 2;
    }
    void ToggleMenuStaff()
    {
        showMain = 3;
    }

}